@font-face {
  font-family: Merriweather;
  src: url("assets/fonts/merriweather/Merriweather-Regular.otf") format("opentype");
}

@font-face {
  font-family: Merriweather;
  src: url("../assets/fonts/merriweather/Merriweather-Regular.otf") format("opentype");
}

@font-face {
  font-family: Glober;
  src: url("assets/fonts/glober/GloberBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: Glober;
  src: url("../assets/fonts/glober/GloberBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: Glober;
  src: url("assets/fonts/glober/GloberRegular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: Glober;
  src: url("../assets/fonts/glober/GloberRegular.otf") format("opentype");
  font-weight: normal;
}

body {
  background: #fff;
  color: #000;
  font: normal 22px Glober;
}

#tiles-header {
  margin: 50px 0 10px;
  text-align: center;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  margin: 50px 0 10px;
}

h3 {
  font-weight: bold;
  font-size: 28px;
  margin: 40px 0 10px;
}

.cut {
  font-weight: bold;
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

p {
  line-height: 1.7em;
}

header {
  height: 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

header .righty {
  float: right;
  font-size: 14px;
  margin-top: 11px;
  width: 50%;
}

.back {
  display: inline-block;
  position: absolute;
  top: 56px;
  margin: 10px 0;
}

.back img {
  height: 48px;
  width: 48px;
}

.back.fixed {
  background: rgba(0,0,0,0.8);
  border-radius: 100px;
  color: #fff;
  position: absolute;
  top: 560px;
  left: 30px;
  width: auto;
  height: auto;
  padding: 4px 16px 4px 4px;
  text-decoration: none;
}

.back.fixed.sticky {
  position: fixed;
  top: 20px;
}

.subheader {
  color: #777;
  margin: 0 auto 40px;
  text-align: center;
  width: 60%;
}

.tiles {
  margin-top: 60px;
  text-align: center;
}

.tiles .tile {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin: 0px 1px;
  height: 270px;
  position: relative;
  width: 24%;
}

.tiles .tile .title {
  color: #fff;
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 17px;
  text-align: left;
  z-index: 5;
  text-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

.tiles .tile:after {
  content: '';
  display: block;
  position: absolute;
  height: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.9));
}

.page-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page-hero .title {
  height: 100%;
  position: relative;
}

.page-hero h1 {
  color: #fff;
  font-size: 52px;
  font-weight: bold;
  position: absolute;
  bottom: 40px;
  width: 80%;
  text-shadow: 0 1px 4px rgba(0,0,0,1);
}

.page-hero h1 .small {
  font-size: 36px;
  display: inline-block;
  margin-top: 12px;
}

.page-hero video {
  position: absolute;
}

.page-hero .shader {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
}

.lead {
  padding: 60px 120px 0;
  text-align: center;
}

.lead h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.sheet {
  background: rgba(255,255,255,0.6);
  color: #333;
  padding: 60px 120px 0;
  z-index: 500;
}

.sheet .fw {
  margin-left: -140px;
  margin-right: -140px;
}

.expandable-content {
  display: none;
}

.body img, .body video {
  display: block;
  margin: 20px auto 5px;
  width: 100%;
}

.body h6 {
  color: #999;
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0 30px;
  text-align: center;
}

.expand {
  display: block;
  font-weight: bold;
  font-size: 20px;
  overflow: visible;
  text-align: center;
  cursor: pointer;
  margin: 10px 0 30px;
  position: relative;
}

.expand:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  height: 1px;
  background: #ccc;
  z-index: -1;
}

.expand span {
  background: #fff;
  padding: 0 15px;
}

.expand img {
  display: none;
  margin: 5px 0 0;
  height: 26px;
  width: 50px;
}

footer {
  margin-top: 80px;
  position: relative;
}

footer .container {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

footer .logo {
  display: inline-block;
  margin: 30px 0 15px;
  width: 200px;
}

footer table {
  font-size: 14px;
  opacity: 0.5;
  width: 300px;
}

footer table img {
  height: 50px;
  margin-right: 10px;
}

footer hr {
  border-top: 1px solid rgba(0,0,0,0.1);
  margin: 0;
}

footer .up {
  background: #fff;
  color: #000;
  font-weight: bold;
  display: block;
  margin: -42px auto 0;
  text-align: center;
  width: 120px;
}

footer .up img {
  display: inline-block;
  height: 26px;
  width: 50px;
}

footer .up:hover {
  text-decoration: none;
}

.carousel {
  height: 480px;
  margin: 20px 0 5px;
  position: static;
}

.carousel .carousel-holder {
  position: absolute;
  height: 480px;
  left: 0;
  right: 0;
}

.carousel .swiper-slide {
  height: 450px;
  width: 870px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.carousel .swiper-slide a {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.carousel img {
  display: block;
  margin: 0 auto;
}

.carousel .slick-prev, .carousel .slick-next {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  cursor: pointer;
  z-index: 10;
  outline: none;
  opacity: 0.8;
}

.carousel .slick-prev:hover, .carousel .slick-next:hover {
  opacity: 1;
}

.carousel .slick-prev img, .carousel .slick-next img {
  height: 48px;
  width: 48px;
}

.carousel .slick-prev {
  left: -55px;
}

.carousel .slick-next {
  right: -55px;
}



@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-2.5px);
  }
}

.expand img {
  -webkit-animation: bounce 2s infinite;
}
