<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../assets/main.css" />
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../assets/swiper/swiper.min.css" />
    <script type="text/javascript" src="../assets/swiper/swiper.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../assets/swipebox/css/swipebox.min.css" />
    <script type="text/javascript" src="../assets/swipebox/js/jquery.swipebox.min.js"></script>

    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width">
  </head>

  <body class="preview">

    <header class="header">
      <div class="container">
        <a href="../index.html" class="back">
          <img src="../assets/images/back-white.png" />
        </a>
      </div>
    </header>

    <div class="container">
      <div class="lead">
        <h1>{{ page.title }}</h1>
        <p class="cut">{{ page.cut }}</p>
      </div>
    </div>

    <div class="page-hero" style="background-image: url({{ page.cover }}); width: 100%; height: 500px;">
      <!--
      <div class="shader"></div>
      <div class="container">
        <div class="title">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
      -->
    </div>

    <div class="container">
      <div class="sheet full body">
        {{ content }}
      </div>
    </div>

    <a class="expand">
      Подробнее<br/>
      <img src="../assets/images/down.png" />
    </a>

    <footer>
      <div class="container">
        <hr/>

        <a href="#" class="up">
          <img src="../assets/images/up.png" /><br/>
          Наверх
        </a>

        <img class="logo" src="../assets/images/fpp-logo-big.png" />
      </div>
    </footer>

    <script type="text/javascript">
      var body = $('body');
      $('.up').click(function(e) {
        e.preventDefault();
        $("html, body").animate({ scrollTop: 0 }, "fast");
      });

      $('.expand').click(function(e) {
        body.removeClass('preview');

        var swiper = new Swiper('.swiper-container', {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true,
          },
          pagination: {
            el: '.swiper-pagination',
          },
        });

        $('.swiper-slide').click(function(e) {
          var bg = $(this).css('background-image');
          bg = bg.replace('url(','').replace(')','').replace(/\"/gi, "");

          $.swipebox([
            { href: bg }
          ]);
        });
      });
    </script>
  </body>
</html>
