<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../assets/main.css" />
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/expandable_content.js"></script>

    <link rel="stylesheet" type="text/css" href="../assets/swiper/swiper.min.css" />
    <script type="text/javascript" src="../assets/swiper/swiper.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../assets/fancybox/jquery.fancybox.min.css" />
    <script type="text/javascript" src="../assets/fancybox/jquery.fancybox.min.js"></script>

    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width">
    <meta charset="UTF-8">
  </head>

  <body class="preview">

    <header class="header">
      <div class="container">
        <a href="../index.html" class="back">
          <img src="../assets/images/back-white.png" />
        </a>
      </div>
    </header>

    <div class="page-hero" style="background-image: url({{ page.cover }}); width: 100%; height: 500px;">
      <div class="shader"></div>
      <div class="container">
        <div class="title">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="sheet body">
        {{ content }}
      </div>
    </div>

    <footer>
      <div class="container">
        <hr/>

        <a href="#" class="up">
          <img src="../assets/images/up.png" /><br/>
          Наверх
        </a>

        <img class="logo" src="../assets/images/fpp-logo-big.png" />
      </div>
    </footer>

    <script type="text/javascript">
      $(document).ready(function(){
        var body = $('body');
        $('.up').click(function(e) {
          e.preventDefault();
          $("html, body").animate({ scrollTop: 0 }, "fast");
        });

        $('.swiper-slide').click(function(e) {
          var allSlides = $(this).closest('.carousel').find('.swiper-slide');
          var items = [];
          var selected = 0;
          var currentSrc = $(this).css('background-image').replace('url(','').replace(')','').replace(/\"/gi, "");

          allSlides.each(function(i, el) {
            var src = $(el).css('background-image').replace('url(','').replace(')','').replace(/\"/gi, "");

            items.push({
              src: src,
              type:'image'
            });

            if (currentSrc == src) {
              selected = i;
            }
          });

          $.fancybox.open(items, {}, selected);
        });
      });
    </script>
  </body>
</html>
